/* .infoContainer {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
}

.infoContainer::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 600px;
  top: 0; */
  /* opacity: 17.15; */
  /* background-size: cover;
  background-position: center; */
  /* z-index: -1; */
  /* background-image: url(./images/bg-img1.png);
} */


.container{
    background-image: url(../assets/images/bg-CaseStudy.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    min-height: 80vh;
    background-color: black !important;
}

.infoContainer {
    padding: 15rem 0 10rem;
    height: auto;
  }

.top-left {
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin: 10rem 0; */
}


.top-left h1{
    font-size: 2.5rem;
    text-align: left;
    font-family: var(--font2);
    /* text-transform: none; */
}

.top-left p{
    color: var(--text-color2);
    font-size: 16px;
}

.top-right{
    font-weight: normal;
    width: 11%;
}

.top-right h6{
    font-size: 20px;
    color: var(--text-color2);
}

.top-right p{
    font-size: 18px;
    /* letter-spacing: 0.5px; */
}

.explore-btn {
    padding-top: 1rem;
}

h3 {
    font-family: var(--font2);
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

section#Project-Gallery {
    margin: 7rem 0;
}

.services-item div, .services-item hr {
    width: 45%;
  }

.services-item p{
    letter-spacing: 0.5px;
    font-size: 1.3rem;
    padding: 15px 0px;
    line-height: 1.3;
    text-transform: none;
}

.Project-Gallery-text.mx-auto.max-width {
    text-align: center;
}

.project-img{
    /* height: 500px; */
    width: 85vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 150px 0px; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-img img{
    margin-top: 4rem;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    .container {
        background-position: left;
    }

    .services-item span {
        text-align: start;
    }

    .services-item div, .services-item hr {
        width: 50%;
    }
}

@media screen and (max-width: 768px){

    .container{
        height: 90vh;
    }

    .infoContainer {
        padding: 10rem 0;
    }

    .top-left {
        display: none;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .project-img img {
        margin-top: 3rem;
    }

    section#Project-Gallery {
        margin: 4rem 0;
    }

    .services-item p {
        letter-spacing: 0.5px;
        line-height: 1.25;
        font-size: 1.15rem;
    }

    .services-item div, .services-item hr {
        width: 55%;
    }
}

@media screen and (max-width:480px) {
    .container {
        height: 70vh;
        background-position: center;
    }

    .services-text h2 {
        font-size: 2rem;
    }

    .services-text p {
        font-size: 1.20rem;
    }

    .services-item div {
        padding: 1.5rem 0 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    
    .services-item p {
        letter-spacing: 0.5px;
        line-height: 1.25;
        font-size: 1.1rem;
        width: 88%;
    }

    .services-item div, .services-item hr {
        width: 100%;
    }

    #Services {
        margin: 3rem 0;
    }
}