.navbar{
    display: -webkit-inline-box;
    padding-top: 40px;
    /* padding-right: 84px; */
    margin: auto;
}

.flex{
    flex-direction: column;
    width: 100%;
    /* max-width: 400px; */
}

.navbar li button{
    padding: 14px 24px;
    margin-top: -7px;
}

.navbar .item{
    /* margin: auto; */
    /* align-self: self-start; */
    /* justify-content: center; */
    /* width: 100%; */
    margin: auto;
}

.navbar li a{
    font-size: 1rem;
    padding: 0px 7px;
    /* padding-bottom: 8px; */
}

.infoContainer{
    padding-top: 100px;
}

.top-left h1{
    font-size: 2.7rem;
}

/* .bg-text{
    width: 100%;
} */

.bg-text::after{
    /* object-fit: contain; */
    display: none;
}

.Contact-items{
    flex-wrap: wrap;
}

.Contact-items li a span{
    display: none;
}



@media screen and (max-width: 768px) {
    /* CSS rules for screens with a maximum width of 600px or less */
    .navbar{
        flex-wrap: wrap;
        /* margin: 10px 10px;
        padding: 0px 0px; */
    }

    .navbar li button{
        /* padding: 14px 24px; */
        margin-top: 10px;
    }

    #Services h2{
        font-size: 3.5rem;
    }


  }

  /* Responsive Styles */
/* @media (max-width: 1024px) {
    nav {
      flex-wrap: wrap;
    }
  
    nav a {
      flex: 1 1 45%;
      padding: 10px 0;
    }
  
    header {
      padding: 15px;
    }
  
    button {
      width: 90%;
    }
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
      width: 100%;
      padding: 15px;
    }
  
    h1, h2, h3 {
      font-size: 1.5rem;
    }
  
    button {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    nav {
      padding: 5px;
    }
  
    nav a {
      padding: 10px;
      font-size: 0.9rem;
    }
  
    h1, h2, h3 {
      font-size: 1.2rem;
      margin: 10px;
    }
  
    button {
      font-size: 0.9rem;
      padding: 8px 16px;
    }
  } */