@font-face {
  font-family: "Dirtyline";
  src: url("../assets/fonts/Dirtyline_36Daysoftype_2022/woff/Dirtyline_36Daysoftype_2022.woff2")
    format("woff2");
  /* font-display: swap; */
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../assets/fonts/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf")
    format("ttf");
  font-weight: 400;
}

:root {
  --main-bg-color1: #000;
  --main-bg-color2: white;
  /* --bg-color: #F8F8F8; */
  --text-color1: #000;
  --text-color2: #f8f8f8;
  /* --color: white; */
  --font1: "Dirtyline", cursive;
  --font2: "Darker Grotesque", sans-serif;
  --btn-bg-color1: #000;
  --btn-bg-color2: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-top: 20px;
  background-color: var(--main-bg-color1);
  width: 100%;
  /* height: auto;
  min-height: 100vh; */
}

.navbar {
  color: var(--text-color2);
  text-align: center;
  align-items: center;
}

.logo {
  font-family: var(--font1);
  font-size: 1.7rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.logo a {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-color2);
}

.navbar {
  /* background-color: white; */
  font-family: var(--font2);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 67px;
}

.navbar li {
  list-style: none;
  margin-left: 40px;
}

.navbar li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: var(--text-color2);
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: 20px;
  /* width: 80px; */
  font-size: 0.8rem !important;
  transition: all 300ms ease;
  /* padding-right: 5px;*/
}

.item {
  padding-top: 4px;
}

.item a {
  overflow: hidden;
}

.item a span {
  top: 3px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.item a span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  /* font-weight: 700; */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.item a:hover span,
.item a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* buttons/- */
.btn {
  font-family: var(--font2);
  position: relative;
  overflow: hidden;
  border: 1px solid rgba(248, 248, 248, 0.15);
  color: var(--text-color2);
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  text-decoration: none;
  cursor: pointer;
  background: rgba(248, 248, 248, 0.05);
  padding: 12px 45px;
}

.btn span:first-child {
  position: relative;
  transition: color 300ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  white-space: nowrap;
}

.btn span:last-child {
  color: var(--text-color1);
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 400ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 8px;
  line-height: 13px;
}

.btn:after {
  content: "";
  position: absolute;
  bottom: -70%;
  left: 0;
  width: 100%;
  height: 160%;
  background-color: var(--btn-bg-color2);
  transform-origin: bottom center;
  transition: transform 650ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.btn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.infoContainer {
  padding: 10rem 0 0;
  height: auto;
}

.top-left {
  height: auto;
  /* background-color: blue; */
  padding-bottom: 100px;
}

.top-left h1 {
  font-family: var(--font1);
  color: var(--text-color2);
  text-transform: capitalize;
  /* font-size: 4.7rem; */
  font-size: 4.3rem;
  font-weight: 500;
  letter-spacing: 1.45px;
  width: 85%;
}

.top-right {
  font-family: var(--font2);
  display: flex;
  justify-content: center;
  align-items: inherit;
  width: 41%;
  margin-right: 0;
  padding-bottom: 100px;
}

.top-right h3 {
  color: var(--text-color2);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

.top-right p {
  color: var(--text-color2);
  font-family: var(--font2);
  text-transform: none;
  letter-spacing: 0.5px;
  font-size: 1.3rem;
  padding: 15px 0px;
  line-height: 1.3;
}

.MyWork-btn {
  /* background-color: blueviolet; */
  letter-spacing: 1px;
  padding-top: 50px;
  font-size: 0.8rem;
  font-weight: 600;
}

.MyWork-btn a {
  /* background-color: rgb(146, 204, 151); */
  display: flex;
  float: right;
  align-items: center;
  text-decoration: none;
  color: var(--text-color2) !important;
  cursor: pointer;
}

.MyWork-btn a::before {
  color: var(--text-color2) !important;
}

.MyWork-btn a img {
  margin-right: 0.8rem;
  height: 32px;
}

.explore-arrow{
  margin-left: 0.8rem;
}

#Work {
  height: auto;
}

.heading {
  position: relative;
  /* background-color: #effeff; */
  /* height: 152vh; */
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading::after {
  position: absolute;
  display: block;
  content: "";
  width: 73vw;
  height: 400px;
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-image: url("../assets/icons/Creative\ Showcase.svg");
}

.heading-text h3 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 600;
  font-family: var(--font2);
  text-transform: capitalize;
  padding-bottom: 16px;
}

.bg-img1,
.bg-img2 {
  position: relative;
  height: 600px;
  /* width: 100%; */
  /* background-color: chartreuse; */
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 60px;
}

.bg-img2 {
  margin-top: 100px;
  margin-bottom: 30px !important;
}

.bg-img1::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  /* opacity: 17.15; */
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url("../assets/images/rage-case/rage_case.png");
}

.bg-img2::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-image: url("../assets/images/addic-case/addiction_intervention.png");
}

.content {
  font-family: var(--font2);
  position: relative;
  color: var(--text-color2);
  z-index: 1;
  padding-left: 100px;
  line-height: 3.2rem;
}

.content h3 {
  font-size: 2.6rem;
}

.content p {
  font-size: 1.2rem;
}

.content .btn {
  margin-top: 12px;
  white-space: nowrap;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
}

.View-AllProjects {
  font-family: var(--font2);
  letter-spacing: 1px;
  font-size: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 600;
}

.MyWork-btn a,
.AllProjects-btn a,
.Contact-items a,
.Contact-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color1);
  font-weight: 600;
  height: 2rem;
  overflow: hidden; /* Ensure the hover effect transitions smoothly */
  position: relative;
}

.MyWork-btn a span,
.AllProjects-btn a span,
.Contact-items a span,
.Contact-btn a span {
  position: relative;
  display: inline-block;
  padding: 0.4rem 0;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.MyWork-btn a span::before,
.AllProjects-btn a span::before,
.Contact-items a span::before,
.Contact-btn a span::before {
  position: absolute;
  top: 100%;
  padding-top: 6px;
  content: attr(data-hover); /* Display the hover text */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* color: var(--text-color1); */
}

.MyWork-btn a:hover span,
.AllProjects-btn a:hover span,
.MyWork-btn a:focus span,
.AllProjects-btn a:focus span,
.Contact-items a:hover span,
.Contact-items a:focus span,
.Contact-btn a:hover span,
.Contact-btn a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}

.Contact-btn a::before {
  color: var(--text-color2) !important;
}

.AllProjects-btn a img {
  margin-left: 0.2rem;
  height: 46px;
}

#Services {
  /* background-color: cornflowerblue; */
  height: auto;
  color: var(--text-color1);
  margin: 5rem 0;
}

.services-text {
  /* padding-top: 100px; */
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: var(--font2);
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
}

.services-text p {
  font-family: var(--font2);
  font-size: 1.7rem;
  line-height: 1.3;
  padding: 1.3rem 0;
}

.services-item {
  font-family: var(--font2);
  /* background-color: cadetblue; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: 2rem;
}

.services-item div {
  display: flex;
  align-items: center;
  /* gap: 2rem; */
  justify-content: space-between;
  width: 60%;
  padding: 3rem 0 2rem;
  /* padding-top: 65px;
  padding-bottom: 30px; */
}

.services-item hr {
  width: 62%;
  background-color: var(--main-bg-color1);
  opacity: 0.3;
}

#About {
  height: auto;
  max-width: 100%;
  /* background-color: forestgreen; */
}

.About-img {
  position: relative;
  height: 700px;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: black;
}

.About-img::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 700px;
  top: 0;
  opacity: 0.35;
  background-size: cover;
  /* / background-position: center; */
  /* z-index: -1; */
  background-image: url("../assets/images/about-bg.png");
}

.About-content {
  font-family: var(--font2);
  position: relative;
  width: 40%;
  color: var(--text-color2);
  z-index: 1;
  padding-left: 100px;
}

.About-content h1 {
  color: var(--text-color2);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}

.About-content p {
  color: var(--text-color2);
  font-family: var(--font2);
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1.3rem;
  padding: 1.2rem 0;
  line-height: 1.3;
}

.About-content .btn {
  font-size: 12px;
  margin-top: 30px;
  padding: 14px 35px;
  border: 1px solid rgba(248, 248, 248, 0.3);
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color2);
  background-color: var(--main-bg-color1);
}

#Testimonial {
  font-family: var(--font2);
  color: var(--text-color1);
  /* background-color: rgb(161, 100, 218); */
  max-width: 85vw;
  height: auto;
  margin: auto;
  padding: 100px 0;
}

.Testimonial-text h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 1;
}

.Testimonial-text p {
  font-size: 1.7rem;
  line-height: 1.3;
  padding: 1.3rem 0;
}

.Testimonial-boxes {
  display: flex;
  justify-content: flex-end;
  padding: 100px 0px;
}

.Testimonial-box1 {
  margin-right: 50px;
  width: 330px;
  height: auto;
  /* background-color: rgb(118, 118, 236); */
}

.Testimonial-box1 img,
.Testimonial-box2 img {
  height: 40px;
  width: 40px;
}

.Testimonial-box1 p,
.Testimonial-box2 p {
  font-size: 1.7rem;
}

.Client-box1,
.Client-box2 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-top: 1.4rem;
}

.Client-box1 img,
.Client-box2 img {
  height: 40px;
  width: 40px;
}

.Client-text1,
.Client-text2 {
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  flex-direction: column;
  /* line-height: 10px; */
  justify-content: center;
}

.Client-text1 h6,
.Client-text2 h6 {
  font-weight: 600;
  font-size: 1rem;
}

.Client-text1 p,
.Client-text2 p {
  font-size: 15px;
}

#Contact {
  background-color: var(--main-bg-color1);
  height: auto;
  padding-top: 100px;
  margin-top: 8rem;
}

.Contact-text {
  font-family: var(--font1);
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 70px;
}

.Contact-text h1 {
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 1.45px;
  color: var(--text-color2);
}

.Contact-img img {
  height: 65px;
  width: 65px;
}

.Contact-text button {
  white-space: nowrap;
  margin-top: 50px;
}

.line {
  margin: auto;
  max-width: 50vw;
  opacity: 0.3;
  padding: 2rem 0;
  /* background: rgba(128, 128, 128, 0.3); */
}

.Contact-social_media {
  font-family: var(--font2);
  height: auto;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  color: var(--text-color2);
}

.Contact-social_media h6 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.Contact-items {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 25px;
}

.Contact-items ul{
  display: flex;
  list-style: none;
}

.Contact-items li {
  margin: 0 30px;
}

.Contact-items li a {
  color: var(--text-color2);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Contact-items li a img {
  margin-right: 0.8rem;
  height: 32px;
}

span.social-txt {
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.Contact-copywrite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.Contact-btn span{
  font-size: 0.8rem;
}

.Contact-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color2);
}

.Contact-btn a img {
  margin-right: 0.8rem;
  height: 32px;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .services-text h2 {
    font-size: 3.5rem;
  }

  .services-text p {
    font-size: 1.4rem;
  }

  .services-item div {
    gap: 2rem !important;
  }

  .services-item span {
    text-align: end;
  }

  .heading-text h3 {
    font-size: 4rem;
  }

  .bg-img1,
  .bg-img2 {
    height: 450px;
  }

  .bg-img2 {
    margin-bottom: 0;
  }
  .content {
    padding-left: 70px;
    line-height: 2.5rem;
  }

  .content h3 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .logo a {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 12.5px;
    padding: 10px 25px;
  }

  .btn:after {
    font-size: 12.5px;
  }

  .infoContainer {
    padding-top: 6rem;
  }

  .item span {
    width: max-content;
  }

  .heading {
    height: 350px;
  }

  .heading-text h3 {
    font-size: 3rem;
    line-height: 2.9rem;
  }

  .heading::after {
    height: 280px;
  }

  .services-item div {
    gap: 2rem !important;
  }

  .services-item {
    font-size: 1.5rem;
  }

  h1.text-blue {
    font-size: 3rem;
    display: none;
  }

  .Contact-text h1 {
    font-size: 3rem;
  }

  .top-right p {
    width: 60%;
  }

  .top-left {
    padding-bottom: 0;
  }

  .top-right {
    width: 100%;
  }

  .bg-img1,
  .bg-img2 {
    height: 350px;
  }

  .content {
    padding-left: 45px;
    line-height: 2.2rem;
  }

  .content h3 {
    font-size: 1.8rem;
  }

  .content p {
    font-size: 1rem;
  }

  .content .btn {
    padding: 8px;
    font-size: 0.65rem;
    letter-spacing: 0.3px;
  }

  .View-AllProjects {
    padding-top: 30px;
  }

  .services-text h2 {
    font-size: 3rem;
  }

  .services-text p {
    font-size: 1.3rem;
  }

  .line {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .logo a {
    text-align: left;
    width: 20%;
    font-size: 1rem;
  }

  button.btn {
    padding: 10px 17px;
  }

  .top-right {
    padding: 80px 0;
  }

  .top-right h3 {
    color: var(--text-color2);
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .top-right p {
    width: 80%;
  }

  .top-right p {
    font-size: 1.15rem;
  }

  .item span {
    width: max-content;
  }

  .infoContainer {
    padding: 0;
  }

  h1.text-blue {
    font-size: 2rem;
    display: none;
  }

  .top-right.flex-col {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
  }

  .heading-text h3 {
    font-size: 2rem;
    line-height: 2rem;
  }


  .MyWork-btn a img,
  .Contact-btn a img {
    height: 25px;
  }

  .MyWork-btn a span,
  .Contact-btn a span {
    font-size: 0.9rem;
  }

  .heading {
    height: auto;
    padding: 3rem 0;
  }

  .heading::after {
    display: none;
  }

  .bg-img1,
  .bg-img2 {
    height: 220px;
    width: 100%;
    margin-bottom: 35px;
  }

  .bg-img1,
  .bg-img2 {
    aspect-ratio: 1/1;
  }

  .View-AllProjects {
    padding-top: 0;
    font-size: 0.7rem;
  }

  .AllProjects-btn a img {
    margin-left: 0.2rem;
    height: 35px;
  }

  .services-item div,
  .services-item hr {
    width: 100%;
  }

  /* .services-text h2 {
    font-size: 2rem;
  }

  .services-text p {
    font-size: 1.15rem;
    padding: 0.88rem 0;
  } */

  #Contact {
    padding-top: 80px;
    margin-top: 5rem;
  }

  .content {
    display: none;
  }

  .Contact-text {
    padding-bottom: 50px;
  }

  .Contact-items li span {
    display: none;
  }

  .Contact-text h1 {
    font-size: 2rem;
  }

  .Contact-copywrite p {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 12px;
    padding: 10px 25px;
  }

  .Contact-items li {
    margin: 0 20px;
  }

  .Contact-social_media h6 {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
  }

  .Contact-text button {
    white-space: nowrap;
    margin-top: 35px;
  }

  #Services {
    margin: 3rem 0;
  }

  .Contact-copywrite {
    padding-top: 80px;
  }
}

